<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Users</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if not current_user.is_authenticated %}
          <li class="nav-item">
              <a href="{{ url_for('register') }}">Registrar</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('login') }}">Login</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{{ url_for('logout') }}">Sair</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  