{% extends 'base.html' %}

{% block content %}

<div class="mt-5">
  <a href="{{ url_for('index') }}" class="btn btn-info">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Voltar
  </a>
  
  <table class="table table-striped mt-3">
    <tbody>
      <tr>
        <td>
          {{ user.id }}     
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.profile.photo }}
        </td>
        <td>
          <a class="btn btn-danger btn-sm" href="{{ url_for('delete', id=user.id) }}">
            <i class="fas fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}